.list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-left: 10px;
    &__content {  
        letter-spacing: .2px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;         
        color: rgb(73, 73, 73);
        font-size: 16px;        
        &__master {
            color:blue;
            font-style: italic;
            font-size: 14px;
        }
        &__outfit {
            letter-spacing: normal;
        }
    } 
    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;   
        * {
            margin: 0 2px;
        }
    }
}
fieldset {
    border: 1px solid black;
    padding: 10px;
    margin: 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    label {
        margin: 0 5px 0 0;
    }
    input {
        margin: 0 15px 0 0;
    }
}

legend {
    font-size: 12px;
    margin: 0 10px;
    display: inline-block;
    width: 70px;
    text-align: center;
}

.sort-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    a {
        margin-left: 15px;
    }
}